<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/energia-light.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/fa.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/js/main.js"></script>
    {{ partial "analytics.html" . }}
  </head>
  <body>
    {{ partial "menu.html" . }}
    <div id="pagetext">
      {{ .Content }}
      {{ partial "guide_footer.html" . }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
