@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0px;
  color: #434f54;
  font-size: 16px;
  font-family: "Typonine Sans Regular", "Lucida Grande", Lucida, Verdana, sans-serif;
}

.listingblock {
  font-size: 14px;
}
/* Reference */
a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}

#reference {
    font-family: Typonine Sans Regular,Lucida Grande,Lucida,Verdana,sans-serif;
    margin: 50 auto;
    font-size: 16px;
    max-width: 960px;
}

#reference .licence {
    margin-top: 20px;
    font-family: Typonine Sans Regular,Lucida Grande,Lucida,Verdana,sans-serif;
font-size: 12px;
}

#reference .row {
    display: -ms-flexbox;
    display: flex;
}

#reference .container {
    color: #434f54;
    margin: 50 auto;
    max-width: 1170px;
    min-height: 35em;
    padding: 0 35px;
    width: 100%;
}

#reference h2 {
  color: #7f8c8d;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 32px;
  text-transform: uppercase;
}

#reference a:link {
color: #D50000;
text-decoration:none;
}

#reference a:visited {
color: #D50000;
text-decoration:none;
}

#reference .container p {
    color: #374146;
    font-family: Typonine Sans Light,Lucida Grande,Lucida,Verdana,sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 22px;
}

#reference .first-column {
    margin-right: 50px;
    min-width: 200px;
    width: 20%;
}

#reference .main-content-column {
    width: calc(80% - 50px);
}

#reference .category {
    column-count: 3;
    column-fill: auto;
    column-gap: 15px;
}

#reference .subcategory {
    column-break-inside: avoid;
    display: inline-block;
    margin: 0 2px 15px;
    min-width: 230px;
    opacity: 1;
    transition: color .2s ease;
}

#pagetext{
  font-family: "TyponineSans Light 17";
  font-size: 18px;
  max-width: 960px;
  margin: 50 auto;
}

#pagetext a:link {
color: #D50000;
text-decoration:none;
}

#pagetext a:visited {
color: #D50000;
text-decoration:none;
}

header {
  background: #d50000
}

.logo-img{
    float: left;
    margin: 5px 15px 15px 100px;
}

.link-1 {
  transition: 0.3s ease;
  background: #d50000;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  border-top: 4px solid #d50000;
  border-bottom: 4px solid #d50000;
  padding: 20px 0px;
  margin: 0 16px;
}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

/* other */

/* ~~ Top Navigation Bar ~~ */

#navigation-container {
 position: fixed;
  top: 0;
  background-color: #d50000;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  text-align:center;
  overflow: hidden;
  z-index:10;
}

.navigation-bar {
  height: 100px;
  text-align:center;
  position: relative;
}

.logo {
  margin-top: 20px;
  margin-left: -60px;
  float: left;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 0px;
}

.navigation-bar img{
float:left;
}

.navigation-bar ul {
  margin: 0px;
  padding: 40px 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

p strong {
  color: #555555;
}

.title {
  font-weight: bold;
  color: #d50000;
  font-size: 18;
}


h1 {
    display: block;
    font-size: 28;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    color: #d50000;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 24;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    color: #d50000;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 20;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    color: #d50000;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 16;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    color: #d50000;
    font-weight: bold;
}

.exampleblock {
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 2px;
  padding: 5px;
  border-color: #d50000;
  opacity: 60%;
}

#pagefooter {
    clear: both;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 80%;
    max-width: 960px;
    margin: 0 auto;
    border-top: dotted 1px #999;
}

#pagefooter a:link {
color: #D50000;
text-decoration:none;
}

#pagefooter a:visited {
color: #D50000;
text-decoration:none;
}

.accordion {
    background-color: #eee;
    color: #D50000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
