    <div class="navigation-bar">
    <div id="navigation-container">
        <a href="http://energia.nu/"><img class="logo" src="http://energia.nu/img/energia.png"></a>
        <ul>
          <li><a class="link-1" href="/">Home</a></li>
          <li><a class="link-1" href="/download">Download</a></li>
          <li><a class="link-1" href="/guide">Guide</a></li>
          <li><a class="link-1" href="/pinmaps">Pin Maps</a></li>
          <li><a class="link-1" href="/reference/">Reference</a></li>
          <li><a class="link-1" href="/getting-help">Getting Help</a></li>
          <li><a class="link-1" href="/contact">Contact</a></li>
      </ul>
   </div>
  </div>
